
* {
    background-color: #7F396F;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 9vw;
    color: #CCB31A;
    margin: 40px;
    line-height: 1.1;
}

a {
    text-decoration: none;
    color: #FF40A9;
}

a:hover {
    color: #CCB31A;
}

p, 
h2 {
    color: #CCB31A;
    padding: 10px;
    line-height: 1.5;
    text-align: center;
    
}

p {
    font-size: 30px;
    color: #CCB31A;
    font-family: 'Overpass Mono', monospace;
    padding: 30px 60px 30px 60px;
    line-height: 1.9;
    text-align: justify;
}

h2 {
    font-size: 45px;
    font-family: 'Righteous', cursive;
    padding: 30px;
    
}

footer {
    height: 200px;
    margin-top: 40px;
}

img,
iframe {
    margin: 0 auto;
}

.container {
    margin: auto;
    width: 1275px;
}

.band-image {
    width: 100%;
}

.title span {
    position: absolute;
    top: 15px;
    left: 40px;
    background-color: rgba(0, 0, 0, 0);
    opacity: .7;
}

.multi,
.food,
.hanoi {
    width: 25%;
    float: left;
    clear: both;
    /*padding: 10px;*/
    margin-right: 40px;
    margin-left: 10px;
    margin-bottom: 50px;
    margin-top: 20px;
    box-shadow: 8px 8px 30px #CC98C0;
}

#intro {
    padding-top: 5px;
}

#wiki-content {
    /*border-bottom: 3px double #CCB31A;*/

}

.vevo {
    opacity: .7;
    width: 100%;
    margin-top: 50px;
    border-radius: 6px;
    padding: 15px;
    box-shadow: 5px 5px 10px #7F396F inset;
}

.swim {
    clear: both;
    opacity: .7;
    position: relative;
    top: -610px;
    left: 40px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 5vw;
}

.lyrics {
    font-size: 18px;
    text-align: left;
    width: 450px;
    height: 300px;
    overflow: scroll;
    padding: 5px;
}

#swim-audio {
    margin: auto;
    width: 50%;
    float: left;
    position: relative;
    top: -80px;
    left: 30px;
    
}

#lyrics-swim {
    position: relative;
    width: 40%;
    left: 120px;
    top: -150px;
    float: left;
    padding: 15px;
}

.background-3 {
    float: left;
    width: 700px;
    height: 700px;
    position: relative;
    left: 200px;
    top: -40px;
    opacity: .8;
    box-shadow: 8px 8px 30px #CC98C0;
}

.background-4 {
    width: 350px;
    height: 350px;
    float: left;
    position: relative;
    top: 440px;
    right: 40px;
    opacity: .8;
    box-shadow: 8px 8px 30px #CC98C0;
}

.crazy {
    clear: both;
    opacity: .7;
    position: relative;
    top: -400px;
    right: 55px;
    background-color: rgba(0, 0, 0, 0);
    font-size: 5vw;
    z-index: 2;

}

#lyrics-crazy {
    width: 40%;
    float: left;
    position: relative;
    top: -70px;
    left: 50px;
}

#crazy-audio {
    width: 50%;
    float: left;
    position: relative;
    left: 80px;
}

i {
    font-size: 40px;
    padding: 7px;
    
}

footer {
    clear: both;
    width: 15%;
    margin: auto;
    display: block;
    
}